{% extends 'base.html' %}


{% block content %}


  <div class="py-5" style="	background-image: url(../static/bg02.jpg);	background-position: top left;	background-size: 100%;	background-repeat: no repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><img class="img-fluid d-block mx-auto" src="../static/brush-up.png" width="500" height="500"></div>
        <div class="col-md-6 text-center">
          <h3 class="display-1 text-center"><br>404</h3>
          <p class="lead" style=""><br>Error 404 - page not found<br><br>Klik her for at vende tilbage til forsiden</p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}